<div class="clearFix">
    <div style="float: left;">
        <div data-bind='component: "konturCalculator"'></div>
    </div>
    <div style="float: left;">
        <div data-bind='component: "konturCalculator"'></div>
    </div>
</div>








