<div class="clearFix">
    <div style="float: left; width: 50%">
        <h2 class="b-title">1 инстанс:</h2>

        <div data-bind='component: {name:"konturCalculator" , params: calc1}'></div>
    </div>
    <div style="float: left; width: 50%">
        <h2 class="b-title">2 инстанс:</h2>

        <div data-bind='component: {name:"konturCalculator" , params: calc2}'></div>
    </div>
</div>








