.b-button {
  .reset();
  background-color: #e2e2e2;
  background-image: linear-gradient(to bottom, #ffffff 0%,#fefefe 11%,#f5f5f5 44%,#e8e8e8 50%,#cecece 100%);
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #666666;
  font-size: 12px;
  font-style: normal;
  font-family: Arial, sans-serif;
  height: 22px;
  color: #000000;
  text-align: center;
  box-sizing: border-box;
  padding: 0 1em;



  &:visited {
    color: #000000;
  }

  &:hover {
    background-image: linear-gradient(to top, #fdffcc 30%, #feffeb 70%);
  }

  &:active {
    background-image: linear-gradient(to top, #e2e2e2 30%, #f2f2f2 70%);
  }

  &:focus {
    box-shadow: 0 0 4px rgba(0,35,214,.94);
  }

}




.b-button_size_auto {
  width: auto;
  padding:  0 1em;

}


.b-button_type_2 {
  line-height: 25px;
}

.b-button_type_3 {
  font-size: 22px;
  line-height: 2em;
}

