.b-kontur-c {

  width: 280px;
  font-size: 13px;
  font-family: Arial;

  &__head {
    margin-bottom: 15px;
    .clearFix();
  }

  &__add {
    float: right;
  }

  &__cy {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
  }

  &__el {
    margin-bottom: 2px;
    margin-left: 35px;
    .clearFix();
  }

  &__el-row {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: -70px;
  }

  &__el-row:hover {
    background: #b3e0f4;
  }

  &__el-row_s_save {
    margin-right: -106px;
  }


  &__val {
    min-width: 70px;
    max-width: 400px;
    float: left;
    text-align: right;
    margin-right: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__nu-inp {
    text-align: right;
    width: 70px;
    float: left;
    position: relative;
    right: -8px;
    padding: 0 8px;
    margin-right: 16px;
  }

  &__save {

  }

  &__remove {
    visibility: hidden;

  }

  &__remove,
  &__remove:visited {
    text-decoration: none;
    border-bottom: 1px  dashed;
  }

  &__el:hover &__remove {
    visibility: visible;
  }

  &__sticky {

  }

  &__sticky_on {
    position: fixed;
    bottom: 0;
    left: 200px;
    border: 1px solid #333333;
    background: #ffffff;
  }

  &__total {
    margin-top: 16px;
    float: right;
  }
}