.b-kontur-c {

  width: 380px;
  font-size: 13px;
  font-family: Arial;

  &__head {
    margin-bottom: 20px;
  }

  &__cy {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 34px;
  }

  &__el {
    margin-bottom: 10px;
    margin-left: 20px;
    .clearFix();
  }

  &__el-row {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__el-row:hover {
    background: #b3e0f4;
  }


  &__val {
    min-width: 70px;
    max-width: 400px;
    float: left;
    text-align: right;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__nu-inp {
    text-align: right;
    width: 70px;
    float: left;
    position: relative;
    right: -8px;
    padding: 0 8px;
  }

  &__save {
    margin-right: 20px;
    margin-left: 21px;
  }

  &__remove {
    visibility: hidden;
    margin-right: 10px;
  }

  &__remove,
  &__remove:visited {
    text-decoration: none;
    border-bottom: 1px  dashed;
  }

  &__el:hover &__remove {
    visibility: visible;
  }

  &__sticky {

  }

  &__sticky_on {
    position: fixed;
    bottom: 0;
    left: 200px;
    border: 1px solid #333333;
    background: #ffffff;
  }
}